#petition!=petition

- if (!user)
  #signup
    h2 Click to add your name
    ul
      li
        a.twitterbutton(href='/auth/twitter')
          img(src='/images/twitter-signin.png')
      li
        a.facebookbutton(href='/auth/facebook')
          img(src='/images/facebook-connect.png')

ol
  - for (var i = 0; i < signups.length; i++)
    - var signup = signups[i]
    li
      a(href=signup.url)=signup.name