!!! 5
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    title=title
    link(rel='stylesheet/less', href='/less/style.less', type='text/css')
    script(src='/js/less.js')
  body
    #container
      header
        .headline
          #title=title
      div#main(role='main')!=body
      footer

    script(src='/js/modernizr.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(src='/auth/client')
    script(src='/js/jquery.js')
    script(src='/js/enlist.js')
    